/* Estilos para los elementos body y html */
body, html {
    height: 100%; /* Altura del cuerpo y del documento HTML al 100% de la ventana del navegador */
    margin: 0; /* Elimina los márgenes predeterminados */
    font-family: Arial, sans-serif; /* Fuente predeterminada Arial */
}

.container {
    background-color: #225475; /* Color de fondo azul */
    height: 100%; /* Altura del contenedor al 100% de su elemento padre */
    display: flex; /* Diseño flexible */
    flex-direction: column; /* Elementos hijos apilados verticalmente */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    justify-content: center; /* Centra los elementos hijos verticalmente */
    position: relative; /* Posición relativa */
    overflow: hidden; /* Oculta el desbordamiento */
}

/* Estilo para el pie de página */
footer {
    text-align: center; /* Alineación del texto al centro */
    margin-top: 3px; /* Espaciado superior */
    padding: 0; /* Sin espaciado interno */
    color: #fff; /* Texto blanco */
    font-size: 10px; /* Tamaño de fuente */
}

/* Estilo para los párrafos en el pie de página */
footer p {
    margin: 0; /* Sin margen */
    display: flex; /* Diseño flexible */
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    font-size: 12px; /* Tamaño de fuente general */
}

/* Estilo para la firma en el pie de página */
footer .firma {
    display: block; /* Muestra el elemento como bloque */
    margin-top: 0; /* Sin margen superior */
    font-family: 'Great Vibes', cursive; /* Fuente cursiva */
    font-size: 14px; /* Tamaño de fuente */
    color: #fff; /* Texto blanco */
    margin-left: 10px; /* Espaciado a la izquierda */
}

.logo {
    position: absolute; /* Posiciona el elemento de manera absoluta */
    top: 20px; /* 20px desde la parte superior */
    right: 20px; /* 20px desde el lado derecho */
}

.logo img {
    height: 130px; /* Altura de la imagen a 130px */
    width: auto; /* Ancho proporcional a la altura */
    filter: invert(1) brightness(2); /* Invierte los colores y aumenta el brillo */
}

.title h1 {
    color: white;
    font-size: 2.4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.description h3 {
    color: white;
    font-size: 0.9em;
}

.form-container {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco transparente */
    padding: 10px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    max-width: 600px; /* Ancho máximo del contenedor */
    width: 100%; /* Ancho al 100% */
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para el campo de búsqueda de grupos */
#group-search, #severities-search {
    width: 100%; /* Ancho al 100% */
    max-width: 300px; /* Ancho máximo */
    padding: 10px; /* Espaciado interno */
    margin: 0 auto; /* Centra el campo horizontalmente */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    transition: all 0.5s ease; /* Transición suave */
    margin-left: 140px; /* Ajusta el margen izquierdo */
}

/* Cambiar el borde del campo de búsqueda al enfocar */
#group-search:focus, #severities-search:focus {
    border-color: #4a90e2; /* Color del borde al enfocar */
    outline: none; /* Sin contorno */
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); /* Sombra suave al enfocar */
}

/* Estilo para el contenedor de los campos de fecha */
.date-container {
    display: flex;
    flex-direction: column; /* Campos apilados verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 10px; /* Espacio entre los campos */
    margin-top: 10px;
    width: 100%; /* Ancho al 100% */
}

/* Estilo para los campos de fecha */
.date-field, #start-date, #end-date {
    width: 100%; /* Ancho al 100% */
    max-width: 300px; /* Ancho máximo */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    transition: all 0.3s ease; /* Transición suave */
}

/* Cambiar el borde del campo de fecha al enfocar */
#start-date:focus, #end-date:focus {
    border-color: #4a90e2; /* Color del borde al enfocar */
    outline: none; /* Sin contorno */
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); /* Sombra suave al enfocar */
}

/* Estilo para el botón de limpiar fechas */
#clear-dates {
    background-color: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor pointer */
    font-size: 18px; /* Tamaño del icono */
    color: #e94e77; /* Color del icono */
    transition: color 0.3s ease; /* Transición suave */
    margin-top: 10px; /* Espaciado superior */
}

/* Cambiar el color del icono al pasar el ratón */
#clear-dates:hover {
    color: #d43f77; /* Color del icono al pasar el ratón */
}

/* Estilo para el contenedor de los grupos y severidades seleccionados */
#selected-groups, #selected-severities {
    display: flex;
    flex-wrap: wrap; /* Permite envolver los elementos */
    gap: 5px; /* Espacio entre los elementos */
    margin-top: 10px; /* Espaciado superior */
}

/* Estilo para cada grupo y severidad seleccionada */
.group, .severity {
    font-size: 0.9em; /* Tamaño de fuente */
    padding: 5px 10px; /* Espaciado interno */
    background-color: #f0f0f0; /* Color de fondo */
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 4px; /* Bordes redondeados */
    display: flex;
    align-items: center;
}

/* Estilo para el icono de eliminación */
.group span.remove-group, .severity span.remove-severity {
    color: red;
    margin-left: 5px; /* Espaciado entre el nombre y el icono */
    cursor: pointer;
    font-weight: bold;
}

/* Cambiar el cursor al pasar sobre la X */
.group span.remove-group:hover, .severity span.remove-severity:hover {
    cursor: pointer;
}

/* Estilo general para los botones */
button {
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 6px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor pointer */
    transition: all 0.3s ease; /* Transiciones suaves */
    margin-top: 10px; /* Espaciado superior */
    width: 500px; /* Ancho fijo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Estilo para el botón de carga */
#uploadButton {
    background-color: #28a745; /* Fondo verde */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 6px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor pointer */
    transition: all 0.3s ease; /* Transiciones suaves */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin-top: 10px; /* Espaciado superior */
}

.button-container {
    text-align: center; /* Centra horizontalmente el contenido en el contenedor */
}

/* Estilo para el botón de procesar hosts */
#process-hosts {
    background-color: #4a90e2; /* Fondo azul */
    color: white; /* Texto blanco */
    display: block; /* Ocupa toda la anchura disponible */
    max-width: 300px; /* Ancho máximo */
    margin: 10px auto; /* Centra el botón horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Cambiar el color del botón al pasar el ratón */
#uploadButton:hover,
#process-hosts:hover {
    background-color: #0056b3; /* Fondo azul oscuro para ambos botones */
    transform: scale(1.05); /* Agrandar ligeramente */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Efecto al hacer clic en el botón */
#uploadButton:active,
#process-hosts:active {
    transform: scale(0.95); /* Efecto de reducir el tamaño ligeramente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra más ligera */
}

/* Estilo para el botón deshabilitado */
#process-hosts:disabled {
    background-color: #72777e; /* Fondo gris claro */
    color: #111111; /* Texto gris oscuro */
    cursor: not-allowed; /* Cambia el cursor a una cruz */
    box-shadow: none; /* Elimina la sombra */
    transform: none; /* Elimina el efecto de transformación */
}

/* Estilo para los mensajes de estado */
#status-message-container {
    display: flex; /* Flexbox para alinear el texto y el icono horizontalmente */
    align-items: center; /* Centra verticalmente el contenido del contenedor */
    margin-top: 10px; /* Espaciado superior */
    margin-bottom: 10px; /* Espaciado inferior */
}

.status-message {
    font-weight: bold;
    font-size: 1em; /* Tamaño de fuente */
    padding: 10px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    color: #FFFFFF; /* Texto blanco */
    text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000; /* Contorno del texto */
    display: inline-flex; /* Alineación en línea y flexibilidad */
    align-items: center; /* Centrar verticalmente el texto */
    margin-left: 10px; /* Espaciado entre el mensaje y el icono */
}

#loading-icon {
    width: 70px; /* Tamaño pequeño para el icono */
    height: 70px; /* Mantener proporción */
    margin-left: 10px; /* Espaciado entre el texto y el icono */
    vertical-align: middle; /* Alinear verticalmente el icono */
}

/* Estilos para los diferentes tipos de mensajes de estado */
.status-message_OK {
    color: #20FA04; /* Texto verde para mensajes OK */
}

.status-message_ERROR {
    color: #FF0000; /* Texto rojo para mensajes de error */
}

.status-message_INCOMPLETE {
    color: #FFD700; /* Texto dorado para mensajes incompletos */
}

.status-message_GENERATING {
    color: #FFFFFF; /* Texto blanco para mensajes de generación */
}
